<!-- Bootstrap bundle JS -->
<script
  src="/assets/js/bootstrap.bundle.min.js"
></script>
<!-- load other js -->
<script
  src="/assets/js/lazysizes.min.js"
></script>
{% if layout.gallery == true or page.gallery == true %}<script src="https://cdn.jsdelivr.net/npm/spotlight.js@latest/dist/spotlight.bundle.js" defer></script>{% endif %}
{% if page.custom-foot or layout.custom-foot %}
{%- assign page_feet = page.custom-foot | split: ";" -%}
{%- assign layout_feet = layout.custom-foot | split: ";" -%}
{%- assign feet = page_feet | concat: layout_feet -%}
{% for f in feet %}{% include {{ f }} %}
{% endfor %}
{%- endif -%}
