<div class="card mb-3">
  <div class="card-body">
    <h2 class="card-title h5">Description</h2>
    <p class>The Swarthmore College Peace Collection includes archival materials from non-governmental 
      efforts within the enduring peace movement. These items represent the nonviolent actions of everyday 
      people related to social change, disarmament, and conflict resolution. The Peace Collection will
      celebrate its 100th Anniversary in September 2025.</p>
    <a class="btn btn-primary" href="{{ '/about.html' | relative_url }}" role="button">Learn More &raquo;</a>
  </div>
</div>
