<div class="card mb-3">
  <div class="card-body">
    <h2 class="card-title h5">About this exhibit</h2>
    <p class>Starting from the personal papers of Jane Addams, the first American woman to be awarded the Nobel Peace Prize, the Swarthmore College Peace Collection has become the most extensive archives and research library in the United States focusing on movements for peace. Explore peacebuilding through this exhibit highlighting activists and organizations represented in the Peace Collection.</p>
    <a class="btn btn-primary" href="{{ '/about.html' | relative_url }}" role="button">Learn More &raquo;</a>
  </div>
</div>
