<!doctype html>
<html lang="en" class="h-100">
  <head prefix="og: http://ogp.me/ns#">
    {% include head/head.html %}
  </head>
  <body class="d-flex flex-column h-100">
    <div id="skip-to-content"><a href="#maincontent">Skip to main content</a></div>
    {% include collection-banner.html %}
    {% include collection-nav.html %}
    <main id="maincontent" role="main" class="flex-shrink-0">
      {{ content }}
    </main>
    {% include footer.html %}
    {% include foot.html %}
    {% include scroll-to-top.html %}
    {% if page.uses_react %}
      <!-- React CDN-->
      <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
      <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
      
      <!-- Where component scripts would go-->
      <script src="{{ '/assets/js/your-react-component.js' | relative_url }}"></script>
    {% endif %}
  </body>
</html>